@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
#contact{
   padding: 5rem 0 ;
  background-color: rgb(226, 226, 226);
  font-size: 2rem;
}
.contact-container{
  display: flex;
  /* justify-content: space-between; */
  font-size: 1.6rem;
  /* flex-wrap: wrap; */
  /* padding: 1rem; */
  background-color: #fff;
}
.contact-container .contact-img{
 width: 50%;
}
.contact-img img{
   display: flex;
  /* flex-direction: column; */
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.form-container{
  /* display: block; */
  padding: 1rem;
  width: 50%;
  margin: auto;
  text-align: center;
}
.form-container input{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}
.form-container textarea{
  display: block;
  width: 100%;
   border: none;
   box-shadow: none;
  outline: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
}
.form-container h2{
  font-size: 3rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 1rem;

}
.form-container a{
  font-size: 1.2rem;
}